# --- Carpeta de compilación y temporales (SIEMPRE IGNORAR) ---
build/
install/
log/
**/build/
**/install/
**/log/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg

# --- Entornos virtuales y configuraciones de editor ---
venv/
.venv/
env/
.vscode/
.idea/
*.swp
*~
.DS_Store

# --- Ignorar repositorios clonados externos (basura de terceros) ---
p2/Groot/
yasmin/.github/
yasmin/docs/
yasmin/yasmin/
yasmin/yasmin_demos/
yasmin/yasmin_editor/
yasmin/yasmin_factory/
yasmin/yasmin_msgs/
yasmin/yasmin_ros/
yasmin/yasmin_viewer/